asgiref==3.6.0
backports.zoneinfo==0.2.1
Django
sqlparse==0.4.3
tomli==2.0.1
Pillow==9.5.0
phonenumbers==8.13.8
mysqlclient==2.1.0
graphene_django==3.0.0
django-filter
celery==4.4.0
redis==3.4.1
django-celery-results
graphene-file-upload
djangorestframework
flake8==3.9.2
django-cors-headers
django-allauth
django-graphql-jwt
django-graphql-auth
dj-rest-auth
