<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <h2>Contact Information</h2>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Subject:</strong> {{ subject }}</p>
    <p><strong>Email:</strong> {{ from_email }}</p>

    <h2>Message</h2>
    <p>{{ message|safe }}</p>
  </body>
</html>
