<!-- email_template.html -->
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Dear {{ user_name }},</p>

    <p>Welcome to {{ website_name}}! We're thrilled to have you on board.</p>

    <p>
      To get started, please verify your email address by clicking the link
      below:
    </p>

    <p>{{verification_url}}</p>

    <p>
      By verifying your email, you'll gain full access to all the features and
      benefits of our platform. It's an essential step to ensure your account's
      security and to keep you informed about important updates and
      notifications.
    </p>

    <p>
      If the above link does not work, you can copy and paste this URL into your
      browser's address bar: {{verification_url}}
    </p>

    <p>
      If you didn't sign up for {{ website_name}}, please disregard this email.
    </p>

    <p>
      If you have any questions or need assistance, our support team is here to
      help. Feel free to reach out to us at {{support_email_address}}.
    </p>

    <p>
      Thank you for choosing {{ website_name}}. We can't wait to see what you'll
      accomplish with us!
    </p>

    <p>Best regards,</p>

    <p>The {{ website_name}} Team</p>
  </body>
</html>
